.meetaheadpage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.left-meetaheadcontent {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.right-meetaheadcontent {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.right-meetaheadcontent p {
  text-align: justify;
  line-height: 1.5;
}

.svg-meetaheadcontainer {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.meetahead-container {
  border-radius: 3% 3%;
  background-color: #FFF9EC;
  margin-bottom: 2rem;
  margin-top: calc(1rem + 4.5rem);
}

.ma-head {
  padding-top: 20px;
}